*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    

}
.blue-navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 6vh;
    background-color: blue;
}
.white-navigation{
    display: flex;
    width: 100vw;
    height: 6vh;
    justify-content: center;
    box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px;
    background-color: white;
}
.left-nav{
    display: flex;
    gap: 40px;
}
.nav-link1{
    color: white;
    font-size: 18px;
    font-weight: 800;
}
.right-nav{
    display: flex;
    gap: 34px;
}
.search1{
    width: 450px;
    border-radius: 5px;
    border: 1px solid blue;
    font-size: 20px;
    padding: 4px;
}
a{
    text-decoration: none;
}
.logo{
    color: white;
}
.nav2{
    display: flex;
    gap: 40px;
    align-items: center;
}
.nav2 a{
    text-decoration: none;
}
.nav-link2{
    color: black;
    font-weight:800;
    font-size: 12px;
    font-family:sans-serif;
}

.container3{
    width: 100%;
    height: 88vh;
    background-color: #F1F3F6;
    display: flex;
    gap: 40px;
    /* overflow: hidden; */
}
.my-profile{
    background-color: #F1F3F6;
    width:18vw;
    margin-top: 10px;
    margin-left: 15vw;   
}
.personal{
    background-color: white;
    width: 50%;
    margin-top: 10px;
    border-radius: 4px;
    height: 100%;
     
}
.name{
    background-color: white;
    width: 100%;
    height: 8vh;
    border-radius: 10px;
   
}
.name1{
    margin-left: 40px;
    padding: 10px;
}
.my-order1{
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 30vh;
    margin-top: 20px;   
}
.my-stuff,.chats,.saved-cards,.upi,.gift-card,.payments,.my-orders,.setting,.profile-info,.address,.pan-card{
    padding: 10px;
    margin-left: 30px;
}
.my-stuff,.chats,.saved-cards,.upi,.gift-card,.profile-info,.address,.pan-card{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}
.payment{
    width: 100%;
    margin-top: 4px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    
}
.payment a{
    color: black;
}
.my-order1 a{
    color: black;
    
}
.payment a:hover{
    color: blue;
}
.my-order1 a:hover{
    color: blue;
}
.my-orders a{
    color: gray;
}
.setting a{
    color: grey;
}
.payments a{
    color: grey;
    
}
.personal-info{
    display: flex;
    padding: 20px;
    gap: 20px
}
.personal-info1{
    font-weight: 800;
}
.name-input{
    margin-left: 20px;
}
.text1,.text2{
    width: 220px;
    height: 40px;
    padding: 14px;
    background-color: #F1F3F6;
    border: 1px solid #F1F3F6;
    border-radius: 4px;
}
.gender{
    margin-left: 20px;
}

.email-info{
    display: flex;
    margin-left: 20px;
    gap: 40px;
}
.email-add2{
    margin-top: 20px;
    margin-left: 20px;
}
.email-add2 input{
    padding: 14px;
    width: 220px;
    background-color: #F1F3F6;
    border: 1px solid #F1F3F6;
    border-radius: 4px;
}
.mobile-no{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-left: 20px;
}
.mobile-input{
    margin-left: 20px;
    margin-top: 20px;
}
.mobile-input input{
    padding: 12px;
    width: 220px;
    background-color: #F1F3F6;
    border: 1px solid #F1F3F6;
}
.mobile{
    font-weight: 800;
}
.faqs{
    margin-left: 20px;
    margin-top: 40px;
    

    
    
}
